@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9fafb;
    margin: 0;
    padding: 0;
}

input:focus {
    outline: none;
}

h1 {
    color: #333;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px !important;
}

::-webkit-scrollbar-thumb {
    background-color: #7749f8 !important;
    border-radius: 10px !important;
    border: 3px solid #f0f0f0 !important;
}

::-webkit-scrollbar-thumb:hover {
    background-color: black !important;
}